# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore all JAR files
*.jar

# Ignore macOS .DS_Store files
.DS_Store

# Ignore specific library files
/libs/mysql-connector-j-8.4.0.jar
/libs/lib/

# Ignore the build output directory
out/